.background {
  background-image: url("../public/images/img/wave.png");
  position: absolute;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
