.bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// 頁面的背景圖
.green {
  background-image: url("../../public/images/img/arrow-green.png");
}
.white {
  background-image: url("../../public/images/img/arrow-white.png");
}
.yellow {
  background-image: url("../../public/images/img/arrow-yellow.png");
}
